.Resume-div {
    height: 600px;
    width: 500px;
    margin-top: -40px;
    margin-left: 475px;
    border: 10px solid transparent;
    border-image: url('../../assets/images/border.jpg') 30 stretch;
    overflow: auto;
}

.Resume-div::-webkit-scrollbar {
    width: 0;
}

.resumeimg {
    width: 100%;
    position: relative;
}
