.Resume-div {
    height: 580px;
    width: 500px;
    margin-top: -20px;
    margin-left: 500px;
    overflow: auto;
}

.Resume-div::-webkit-scrollbar {
    width: 0;
}

.resumeimg {
    width: 100%;
    position: relative;
}
